<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/dimensions.js"></script>
<script type="text/javascript" src="/static/js/autocomplete.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<!-- <script type="text/javascript" src="/static/js/jquery.treeview.js"></script> -->
<!-- <script type="text/javascript" src="/static/js/demo.js"></script> -->
<script type="text/javascript" src="/static/js/slidemenu.js"></script>
<script>jqueryslidemenu.buildmenu("myslidemenu", arrowimages, 1)</script>
<script type="text/javascript" >
$(function(){
  setAutoComplete("search", "bookResults", "/?look=");
});
</script>