{% extends "base.html" %}
{%block content %}
    <table width="85%" align="center" varign="top" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td style="padding-left:0px;"><img src="/media/img/line.png" border="0"></a></td>
        </tr>
        <tr>
            <td id="one" align="right" style="padding:5px 0px 0px 100px;"><img src="/static/img/logo.png" title="irkonline.info" border="0"></td>
            <td id="two" align="left" valign="middle" style="padding:2px 5px 0px 5px">
                {% if error %}
                    {% for err in error %}
                        {{ err }}
                    {% endfor %}
                {% endif %}
                    {% include "s_form.html" %}
            </td>
        </tr>
    </table>
{%endblock%}